<div class="container">
    <h2>Información de Contrato</h2>
    <form>
      <div class="form-group">
        <label for="modalidad">Modalidad de Contrato:</label>
        <select class="form-control" id="modalidad" name="modalidad">
          <option value="evento">Evento</option>
          <option value="capita">Cápita</option>
        </select>
      </div>
      <div class="form-group">
        <label for="numeroContrato">Número de Contrato:</label>
        <input type="number" class="form-control" id="numeroContrato" name="numeroContrato">
      </div>
      <div class="form-group">
        <label for="regimen">Régimen:</label>
        <select class="form-control" id="regimen" name="regimen">
          <option value="contributivo">Contributivo</option>
          <option value="subsidiado">Subsidiado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="archivo">Archivo:</label>
        <input type="file" class="form-control-file" id="archivo" name="archivo">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
